---
layout: default
---
<img src="/images/headshot.JPG">
<div class="article-list">
    <h2>Hi, I'm Dan</h2>
      <p>I've built a life out of making things that people love. For 25 years—starting when I was just 19 years old—I've made real things that break new ground, resonate with communities, and amplify new voices.</p>
      <p>From a start in punk rock publishing, to working with some of the most impactful newsrooms in journalism, to giving keynote presentations around the world, I've covered a lot of ground over the years. The connection between it all has been pushing the boundaries of possibility while staying firmly rooted in reality.</p>
      <p>This is what I bring to all my work.</p>      
      <h2>Let's work together</h2>
        <p>I'd love to talk about how we might do stuff together. Here are the best ways to get in touch with me:
          <ul>
          {% for contact in site.data.contacts %}
          <li>{{ contact.service }}: <a href="{{ contact.link }}">{{ contact.userid }}</a>
         {% endfor %}
        </ul>
    <h2>Recent Things</h2>
      <p>I do a lot, so here's the most recent things I've put out in the world.</p>
        <ul>
        {% for recent in site.data.recents limit:5 %}
          <li><a href="{{ recent.link }}">{{ recent.title }}</a> | Published by {{ recent.publication }} on {{ recent.date | date: "%b %-d, %Y" }}</li>
        {% endfor %}
        </ul>

    <h2>Things I&rsquo;ve done</h2>
      {% include bio.md  %}

      <!--  <h2>Press</h2>
          <p>I've appeared on TV, been written up in magazines and newspapers, done podcasts, whatever. If you'd like to get in touch to cover something I'm up to, feel free to <a href="mailto:dansinker@gmail.com">get in touch</a>. I'd love to hear from you!
      -->

     

      <h2>My Books</h2>
          <ul>
          {% for book in site.data.books %}
          <li><a href="{{ book.link }}">{{ book.title }}</a> | Published by {{ book.publisher }}, {{ book.date }}</li>
          {% endfor %}
        </ul>


      <h2 id="biglist">A look at all the stuff I've done</h2>
      <p>Well, probably not "all," but it's close.</p>
      <ul>
      {% for thing in site.data.things %}
        <li>{% if thing.link != null %}<a href="{{ thing.link }}">{{ thing.title }}</a>{% else %}<b>{{ thing.title }}</b>{% endif %}: {{ thing.oneline }} <b>{{ thing.date }}</b> </li>
      {% endfor %}
    </ul>

    <h2>I Can Come and Speak</h2>
    <p>I give keynote presentations that keep people talking. I can speak about technology and people, the current state of journalism (and its future), independent production, making things that matter, or whatever else you'd like me to come talk about (I mean, within reason). I'm represented by the <a href="http://www.chartwellspeakers.com/speaker/dan-sinker/">Chartwell Speakers Bureau</a> so click through and get in touch.</p>

  <h2>Oh yeah, also there's this</h2>
  <p>I was on the Colbert Report.
    <div class="videoWrapper">
    <iframe src="//media.mtvnservices.com/embed/mgid:arc:video:comedycentral.com:3ac26644-ed01-11e0-aca6-0026b9414f30" width="800" height="400" frameborder="0" allowfullscreen="true"></iframe>
  </div>
</div>
