---
layout: default
---
<h1 class="headline">{{site.title}}</h1>
<img src="/images/headshot.JPG">
<div class="article-list">
    <h2>Hi, I'm Dan</h2>
      <p>I've built a life out of making things that people love. For 25 years--starting when I was just 19 years old--I've made real things that break new ground, resonate with communities, and amplify new voices.</p>
      <p>From a start in punk rock publishing, to working with some of the most impactful newsrooms in journalism, to giving keynote presentations around the world, I've covered a lot of ground over the years. The connection between it all has been pushing the boundaries of possibility while staying firmly rooted in reality.</p>
      <p>This is what I bring to all my work.</p>      
      <h2>Let's work together</h2>
        <p>I'd love to talk about how we might do stuff together. Here are the best ways to get in touch with me:
          <ul>
          {% for contact in site.data.contacts %}
          <li>{{ contact.service }}: <a href="{{ contact.link }}">{{ contact.userid }}</a>
         {% endfor %}
        </ul>

      <h2>I Can Come and Speak</h2>
        <p>I give keynote presentations that keep people talking. I can speak about technology and people, the current state of journalism (and its future), independent production, making things that matter, or whatever else you'd like me to come talk about (I mean, within reason). I'm represented by the <a href="http://www.chartwellspeakers.com/speaker/dan-sinker/">Chartwell Speakers Bureau</a> so click through and get in touch.</p>

    <h2>Things I&rsquo;ve done</h2>
      <p>While the path I've taken has never been a straight one, the throughlines have always been communities, communication, and amplifying voices at the edges.</p>
      <p>From 2011 until summer 2018 I was the Director of <a href="https://www.opennews.org">OpenNews</a>, which helps make journalism-technologists in some of the best newsrooms in the world more awesome by facillitating community and collaboration among them. My work at OpenNews included founding the <a href="https://opennews.org/what/fellowships/">Knight-Mozilla Fellowships</a>, which placed creative technologists into newsrooms around the world, and <a href="https://www.srccon.org/">SRCCON</a>, a yearly conference built around highly-participatory problem solving and skill sharing among the best technologists in journalism.</p>
      <p>At just 19, I founded Punk Planet magazine, an independent music, politics and culture magazine that helped to document the independent music and art scenes of the 1990s and 2000s. Punk Planet is widely credited as the definitive voice of independent culture at the time as well as helping to bridge the gap between cuture and activism. Constantly blazing new paths for 13 years, we also <a href="http://www.akashicbooks.com/catalog-tag/punk-planet-books/">published books</a> in collaboration with stalwart indie publisher Akashic Books.</p>
      <p>I continued my commitment to independent media production as the co-host of <a href="http://www.sayswhopodcast.com">Says Who Podcast</a>, a weekly podcast dedicated to helping people survive the current presidential administration through comedy and coping, and of <a href="https://www.thehitchpodcast.com">The Hitch</a> podcast, a podcast about road tripping and adventure, often recorded from the road in my trailer.</p>
      <p>One of the things I'm most notorious for is the <a href="https://twitter.com/mayoremanuel">@MayorEmanuel Twitter account</a>, back in 2010/11. The account, written anonymously at the time, told a fantastical story of an alternate-universe Chicago during the 2011 Mayoral Election. By the time the account wrapped up, <a href="https://www.economist.com/prospero/2011/10/05/the-first-real-work-of-digital-literature">The Economist</a> said it "may be the first truly great piece of digital literary work."
      <p>In addition to making all this (and more), I have taught journalism as a member of the full-time faculty at <a href="https://www.colum.edu/academics/media-arts/communication/majors-and-programs.html">Columbia College Chicago</a> from 2008-2011 and was a <a href="http://jsk.stanford.edu/">JSK Fellow</a> at Stanford University from 2007-2008 where I studied the impact of mobile technology on storytelling.
      <p>I've done so much more than this. <a href="#biglist">A (mostly) defininitive list is at the end of this page</a>.


      <!--  <h2>Press</h2>
          <p>I've appeared on TV, been written up in magazines and newspapers, done podcasts, whatever. If you'd like to get in touch to cover something I'm up to, feel free to <a href="mailto:dansinker@gmail.com">get in touch</a>. I'd love to hear from you!
      -->

      <h2>Recent Things</h2>
      <p>I do a lot, so here's the most recent things I've put out in the world.</p>
      <ul>
      {% for recent in site.data.recents limit:5 %}
        <li><a href="{{ recent.link }}">{{ recent.title }}</a> | Published by {{ recent.publication }} on {{ recent.date | date: "%b %-d, %Y" }}</li>
      {% endfor %}
      </ul>

      <h2>Writing</h2>
        <p>I write about culture, politics, and technology. Occasionally I freelance so <a href="mailto:dansinker@gmail.com">get in touch</a>. Here's what I've written recently.</p>
        <ul>
        {% for recent in site.data.recents %}
        <li>{% if recent.writing == 'y' %}<a href="{{ recent.link }}">{{ recent.title }}</a> | {{ recent.publication }},  {{ recent.date | date: "%b %-d, %Y" }}{% endif %}
              {% endfor %}
        </ul>

      <h2>My Books</h2>
          <ul>
          {% for book in site.data.books %}
          <li><a href="{{ book.link }}">{{ book.title }}</a> | Published by {{ book.publisher }}, {{ book.date }}</li>
          {% endfor %}
        </ul>


      <h2 id="biglist">A look at all the stuff I've done</h2>
      <p>Well, probably not "all," but it's close.</p>
      <ul>
      {% for thing in site.data.things %}
        <li>{% if thing.link != null %}<a href="{{ thing.link }}">{{ thing.title }}</a>{% else %}<b>{{ thing.title }}</b>{% endif %}: {{ thing.oneline }} <b>{{ thing.date }}</b> </li>
      {% endfor %}
    </ul>


  <h2>Oh yeah, also there's this</h2>
  <p>I was on the Colbert Report.
    <div class="videoWrapper">
    <iframe src="//media.mtvnservices.com/embed/mgid:arc:video:comedycentral.com:3ac26644-ed01-11e0-aca6-0026b9414f30" width="800" height="400" frameborder="0" allowfullscreen="true"></iframe>
  </div>
</div>
